# Data folders
data/
data/coco/

# Zips / datasets
*.zip
*.tar
*.gz

# Python
__pycache__/
*.pyc

# Env
venv/
.env

# Spring Boot
spring-backend/target/
spring-backend/uploads/
spring-backend/.m2/

# OS
.DS_Store

#Frontend
frontend/node_modules/
frontend/dist/
.env
